<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-app-update" version="1.6.0">
    <name>AppUpdate</name>
    <description>Cordova App Update</description>
    <license>Apache 2.0</license>
    <keywords>cordova,update,app,auto,updater</keywords>
    <dependency id="cordova-plugin-appversion" version="1.0.0" />
    <js-module src="www/AppUpdate.js" name="AppUpdate">
        <clobbers target="AppUpdate" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppUpdate">
                <param name="android-package" value="com.vaenow.appupdate.android.CheckAppUpdate"/>
                <param name="onload" value="true" />  <!-- Must Have -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <provider
                android:name="com.vaenow.appupdate.android.GenericFileProvider"
                android:authorities="${applicationId}.appupdate.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/appupdate_paths"/>
            </provider>
        </config-file>

        <source-file src="src/android" target-dir="src/com/vaenow/appupdate"/>
        <source-file src="res/values/appupdate_strings.xml" target-dir="res/values"/>
        <source-file src="res/values-en/appupdate_strings.xml" target-dir="res/values-en"/>
        <source-file src="res/values-es/appupdate_strings.xml" target-dir="res/values-es"/>
        <source-file src="res/values-de/appupdate_strings.xml" target-dir="res/values-de"/>
        <source-file src="res/values-zh/appupdate_strings.xml" target-dir="res/values-zh"/>
        <source-file src="res/values-fr/appupdate_strings.xml" target-dir="res/values-fr"/>
        <source-file src="res/values-pt/appupdate_strings.xml" target-dir="res/values-pt"/>
        <source-file src="res/values-bn/appupdate_strings.xml" target-dir="res/values-bn"/>
        <source-file src="res/values-ru/appupdate_strings.xml" target-dir="res/values-ru"/>
        <source-file src="res/values-pl/appupdate_strings.xml" target-dir="res/values-pl"/>
        <source-file src="res/values-it/appupdate_strings.xml" target-dir="res/values-it"/>
        <source-file src="res/values-ko/appupdate_strings.xml" target-dir="res/values-ko"/>
        <source-file src="res/layout/appupdate_progress.xml" target-dir="res/layout"/>
        <source-file src="res/xml/appupdate_paths.xml" target-dir="res/xml" />
        
        <framework src="com.android.support:support-v4:24.1.1+" />
    </platform>
</plugin>
