<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-app-update" version="0.0.1">
    <name>AppUpdate</name>
    <description>Cordova App Update</description>
    <license>Apache 2.0</license>
    <keywords>cordova,app,auto,update,updater</keywords>
    <js-module src="www/AppUpdate.js" name="AppUpdate">
        <clobbers target="AppUpdate" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppUpdate">
                <param name="android-package" value="com.xuexiq.appupdate.CheckAppUpdate"/>
                <param name="onload" value="true" />  <!-- Must Have -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <source-file src="src/android/UpdateManager.java" target-dir="src/com/xuexiq/appupdate"/>
        <source-file src="src/android/ParseXmlService.java" target-dir="src/com/xuexiq/appupdate"/>
        <source-file src="src/android/CheckAppUpdate.java" target-dir="src/com/xuexiq/appupdate"/>
        <source-file src="res/values/appupdate_strings.xml" target-dir="res/values"/>
        <source-file src="res/layout/appupdate_progress.xml" target-dir="res/layout"/>
    </platform>
</plugin>